:root{
    --blue:#46c3db;
    --violet:#ba53de;
    --pink:#fc5c9c;
    --orange:#ff8a5c;
    --navy:#071a52;
    --gray:#f0f0f0;
    --white:#fdfdfd;
    --lightblue:#c5e3f6;
}

*{
    font-family:sans-serif;
}

body{
    background-color:var(--gray);
}

            /* *********************************Page Container************************** */
.page-container{
    width:228px;
    background-color:var(--white);
    border-radius:12px;
    padding:12px;

    position:absolute;
    top:80px;
    left:270px;
}

.page-container::before{
    content:'';

    width:330px;
    height:330px;
    background-color:var(--blue);
    border-radius:50%;

    position:absolute;
    top:30px;
    left:130px;

    z-index:-1;
}

.page-container > h2{
    font-family:serif;
    padding:0;
    margin:0;
    margin-bottom:15px;
    margin-left:12px;
}

.page-one,.page-two,.page-three{
    /* background-color:var(--gray); */
    display:flex;
    border-radius:5px;
    padding:10px;
    margin-bottom:15px;

    transition:all 0.5s;
}

.page-one:hover,.page-two:hover,.page-three:hover{
    background-color:var(--gray);
}

.block-one,.block-two,.block-three,.block-four{
    width:40px;
    height:40px;
    border-radius:10px;
    margin-right:10px;
}

.block-one{
    background-color:var(--blue);
}

.block-two{
    background-color:var(--violet);
}

.block-three{
    background-color:var(--pink);
}

.status{
    margin-right:35px;
    margin-top:5px;
}

.status > h5{
    margin:0;
    padding:0;
}

.status > span{
    font-size:12px;
    color:var(--navy);
}

.qty-block{
    width:13px;
    height:18px;
    background-color:var(--gray);
    border:1px solid #000;
    padding:0 5px;
    border-radius:15px;
    font-size:13px;
    font-weight:bold;
    
    display:flex;
    justify-content:center;
    align-items:center;
}
            /* ******************************Profile Container******************************* */
.profile-container{
    width:180px;
    background-color:var(--white);
    border-radius:15px;
    padding:15px;

    position:absolute;
    top:200px;
    right:440px;
}

.owner-info{
    /* background-color:skyblue; */
    display:flex;
    margin-bottom:18px;
}

.block-four{
    background-color:var(--orange);
}

.profile-container a{
    color:#000;
}

.view-btn{
    width:100%;
    background-color:var(--navy);
    color:var(--white);
    border:0;
    border-radius:3px;
    padding:5px;
    box-shadow:0 8px 7px rgba(0,0,0,0.2);
}

.profile-container > h6{
    margin-left:8px;
    margin-bottom:10px;
    font-size:12px;
}

.setting-privacy,.help,.language{
    /* background-color:var(--gray); */
    font-size:12px;
    padding:7px;
    border-radius:3px;
    margin-bottom:7px;

    transition:all 0.5s;
}

.setting-privacy:hover,.help:hover,.language:hover{
    background-color:var(--gray);
}

