:root{
    --black:#080808;
    --white:#F3F3F3;
    --gray1:#B4B4B4;
    --gray2:#9D9D9D;
    --gray3:#848484;
    --gray4:#7C7C7C;
}

*{
    font-family:sans-serif;
}

body{
    background-color:var(--gray1);
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:0;
    overflow:hidden;
}

.card{
    width:370px;
    height:430px;
    background-color:var(--white);

    position:relative;
}

.card::before{
    content:'';

    width:100%;
    height:100%;
    background-color:var(--black);

    position:absolute;
    top:7px;
    left:7px;

    z-index:-1;
}

.card > .feedback-letter{
    width:270px;
    height:330px;
    /* background-color:skyblue; */

    position:absolute;
    top:50px;
    left:50px;
}

.feedback-letter > h2{
    margin:0;
    font-size:28px;
}

.feedback-letter > p{
    font-size:13px;
}

.feedback-letter textarea{
    background-color:transparent;
    color:var(--gray3);
    border-color:var(--gray3);
}

.feedback-letter textarea:focus{
    outline:none;
}

.feedback-letter .privacypolicy{
    font-size:13px;

    position:absolute;
    bottom:110px;
    left:0;
}

.privacypolicy span,.researchgroup span{
    margin-left:22px;
}

.feedback-letter .researchgroup{
    font-size:13px;

    position:absolute;
    bottom:65px;
    left:0;
}

.feedback-letter button{
    width:100%;
    background-color:var(--black);
    color:var(--white);
    border:none;
    font-size:12px;
    padding:15px 0;

    position:absolute;
    bottom:0;
    left:0;
}

.feedback-letter a{
    color:#000;
}